<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.infopariwisata">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_infopariwisata"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoPariwisata"
        tools:targetApi="31">

        <!-- Activity untuk Halaman Utama -->
        <activity
            android:name=".HalamanUtama"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity untuk MainActivity -->
        <activity android:name=".MainActivity" android:exported="true" />

        <!-- Activity untuk DetailActivity -->
        <activity android:name=".DetailActivity" android:exported="true" />

    </application>

</manifest>
